.container {
	max-width: 1200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1rem;
}

.section__title {
	font-size: 2rem;
	font-weight: 600;
	width: 100%;
	text-align: center;
	color: var(--color-dark-grey);
}

.section__description {
	width: 100%;
	text-align: center;
	color: var(--color-grey);
}

header {
	background-color: var(--bg-white);
	height: 60px;
	width: 100%;
}

header .header {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.header__right {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

.header__nav {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.header__nav__item {
	text-decoration: none;
	color: var(--color-dark-grey);
	position: relative;
}

.header__nav__item::before {
	position: absolute;
	content: "";
	left: 50%;
	bottom: -4px;
	transform: translateX(-50%);
	width: 0;
	height: 4px;
	background-color: var(--color-primary);
	transition: width 400ms ease-in-out;
}

.header__nav__item:hover::before {
	width: 80%;
}

.register__btn {
	display: flex;
	gap: 0.5rem;
}

.register__btn svg {
	width: 14px;
	fill: var(--color-white);
}

/* Banner */
#banner {
	background-color: var(--color-silver);
}

.banner__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	padding: 66px 0;
}

.banner__right {
	width: 320px;
}

.banner__right img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.banner__left h1 {
	color: var(--color-dark-grey);
}

.banner__left h1 span {
	color: var(--color-primary);
}

.banner__left p {
	margin-top: 0.75rem;
}

.banner__left button {
	margin-top: 1rem;
}

/* Client */
#client {
	margin-top: 1.5rem;
}

.client__header {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.client__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.125rem 0 2rem;
	margin: 1rem 0;
}

.client__item {
	width: 33px;
}

.client__item img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* Community */
#community {
	margin-top: 1.5rem;
}

.community__header {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.community__header .section__title {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	color: var(--color-dark-grey);
}

.community__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.community__item {
	max-width: 250px;
	height: 200px;
	padding: 1.5rem 1rem;
	border-radius: 6px;
	box-shadow: 0 2px 2.78px rgba(171, 190, 209, 0.2);

	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	text-align: center;
}

.community__item__img {
	padding-bottom: 1rem;
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.community__item h4{
	color: var(--color-dark-grey);
	padding-bottom: 0.25rem;
}

.community__item p {
	color: var(--color-grey);
}

/* About & Design */
#about, #design {
	margin-top: 1.5rem;
	padding: 2rem 0;
}

.about__content, .design__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 3rem;
}

.about__img, .design__img {
	width: 45%;
}

.about__img img, .design__img img {
	width: 100%;
	height: 100%;
	object-fit: contain;

}

.about__info, .design__info {
	width:55%;
}

.about__info h3, .design__info h3{
	color: var(--color-dark-grey);
	padding-bottom: 0.75rem;
}

.about__info p, .design__info p {
	color: var(--color-grey);
	padding-bottom: 1.5rem;
}

/* Statistics */
.statistics {
	margin-top: 1.5rem;
	padding: 3rem 0;
	background: var(--color-silver);
}

.statistics__content {
	display: flex;
	justify-content: space-between;
}

.statistics__title {
	width: 40%;
}

.statistics__title h3 {
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.statistics__title span {
	color: var(--color-primary);
}

.statistics__title p {
	text-align: left;
	color: var(--color-grey);
	padding-top: 1rem;
}

.statistics__info {
	width: 60%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	column-gap: 1.25rem;
	row-gap: 1.75rem;
}

.statistics__item {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.statistics__item_icon {
	width: 42px;
}

.statistics__right {
	display: flex;
	flex-direction: column;
	
}

.statistics__right h3 {
	color: var(--color-dark-grey);
	font-weight: 700;
}

.statistics__right p {
	color: var(--color-grey);
}

/* Customer */
#customer {
	margin-top: 1.5rem;
	padding: 3rem 0;
	background: var(--color-silver);
}

.customer__content {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
}

.customer__left {
	width: 40%;
}

.customer__left img {
	width: 100%;
	height: 300px;
	object-fit: contain;
}

.customer__right {
	width: 60%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.customer__right p {
	color: var(--color-grey);
}

.customer__right h5 {
	color: var(--color-primary);
	font-weight: 600;
}

.customer__right span {
	color: var(--color-light-grey);
}

.customer__list{
	display: flex;
	flex-direction: row;
	gap: 2rem;
	align-items: center;
	margin-top: 0.5rem;
}

.customer__item {
	width: 32px;
}

.customer__item img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.customer__btn {
	flex-shrink: 0;
	color: var(--color-primary);
}

.customer__btn svg{
	width: 1rem;
}

/* Marketing */
#marketing {
	margin-top: 1.5rem;
	padding-bottom: 120px;
}

.marketing__header {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.marketing__header p {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.marketing__content {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 2rem;
	justify-content: center;
	margin-top: 2rem;
}

.marketing__item {
	position: relative;
}

.marketing__item img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.marketing__item__content {
	position: absolute;
	bottom: -100%;
	left: 50%;
	translate: -50% -100%;

	width: 85%;
	height: 180px;
	padding: 1.5rem 1rem;
	background-color: var(--color-silver);
	border-radius: 6px;
	box-shadow: 0 5.57px 11.14px rgba(171, 190, 209, 0.4);

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 1rem;
}

.marketing__item__content h4 {
	color: var(--color-grey);
}

.marketing__item__btn {
	flex-shrink: 0;
	color: var(--color-primary);
}

.marketing__item__btn svg {
	width: 1rem;
	fill: var(--color-primary);
}

/* Demo */
#demo {
	margin-top: 1.5rem;
	padding: 3rem 0;
	background: var(--color-silver);
}

.demo__content {
	text-align: center;
}

.demo__content h2 {
	color: var(--color-black);
}

.demo__content button {
	flex-shrink: 0;
	margin-top: 1.5rem;
}

.demo__content button svg {
	width: 14px;
}

/* Footer */
footer {
	background-color: var(--color-black);
	color: var(--color-white);
}

.footer__content {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 2fr;
	gap: 0.5rem;
	padding: 2.5rem 0;
}

.footer__logo {
	width: 140px;
}

.footer__copyright {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	color: var(--color-silver);
}

.footer_socials {
	display: flex;
	gap: 1.5rem;
	margin-top: 2rem;
}

.footer__social__item {
	width: 32px;
}

.footer__body {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	color: var(--color-silver);
}

.footer__input {
	position: relative;
	margin-top: 1.5rem;
	background-color: var(--color-grey);
	padding: 0.5rem;
	border-radius: 8px;
	max-width: 250px;
}

.footer__input input,
.footer__input input::placeholder {
	color: var(--color-white);
	width: calc(100% - 1rem)
}

.footer__input svg {
	position: absolute;
	width: 18px;
	right: 4px;
	top: 50%;
	translate: 0 -50%;
}