:root {
  /* Font */
  --font-family-default: 'Inter', sans-serif;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /* Colors: Neutral */
  --color-black: #263238;
  --color-dark-grey: #404D4D;
  --color-grey: #717171;
  --color-light-grey: #89939E;
  --color-grey-blue: #ABBED1;
  --color-silver: #F5F7FA;
  --color-white: #ffffff;

  /* Colors: Primary System */
  --color-primary: #28CB88;
  --color-secondary: #263238;
  --color-info: #2194f3;

  /* Color Shade */
  --color-shade-1: #43A046;
  --color-shade-2: #388E3B;
  --color-shade-3: #237D31;
  --color-shade-4: #1B5E1F;
  --color-shade-5: #103E13;

  /* Color Tint */
  --color-tint-1: #66BB69;
  --color-tint-2: #81C784;
  --color-tint-3: #A5D6A7;
  --color-tint-4: #C8E6C9;
  --color-tint-5: #E8F5E9;

  /* Action */
  --color-warning: #FBC02D;
  --color-error: #E53835;
  --color-success: #2E7D31;
}
